.container {
    font-family: 'Roboto', sans-serif;
}

button {
    padding: 500px 500px 500px;
}

.card {
    height: 100px;
    width: 50%;
    background: rgb(87, 25, 210);
    color: white;

    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.card strong {
    font-size: 18px;
}

